<table class="table">

  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-7">
  </colgroup>

  <thead>
    <tr>
      <th>Name</th>
      <th>Valentine</th>
    </tr>
  </thead>

  <tbody>
    <% @valentines.each do |valentine| %>
    <tr>
      <td><%= valentine.name %></td>
      <td><%= valentine.message %></td>
      <td><%= link_to 'Delete', valentine_path(valentine), method: :delete,class: 'btn btn-default btn-sm', data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path, class: 'btn btn-default' %>

<br><br><p><span class="glyphicon glyphicon-heart-empty"></span></p>
