<table class="table table-striped">

  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-7">
  </colgroup>

  <thead>
    <tr>
      <th>Name</th>
      <th>Valentine</th>
    </tr>
  </thead>

  <tbody>
    <% @valentines.each do |valentine| %>
    <tr>
      <td><%= valentine.name %></td>
      <td><%= valentine.message %></td>
    </tr>
    <% end %>
  </tbody>
</table>
