@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
    background-color: #ff0084;
    padding-bottom: 100px;
    padding-top: 60px;
    text-align: center;
}
.btn {
  text-shadow: black 0.0em 0.0em 0.0em !important;
  color: black;
  margin: 10px !important;
}
.field {
  color:black !important;
  text-shadow: black 0.0em 0.0em 0.0em !important;
}

.bg {
  position: fixed;
  width: 100%;
  height: 350px;
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
    margin-bottom: 0px;
    height: 250px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
    background: transparent;
}

*
{
text-align: auto !important;
margin: auto !important;
color: white;
// text-shadow: black 0.1em 0.1em 0.1em;
}
